spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/ttelgo_dev
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:Post@gre_2026}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
  
  flyway:
    enabled: false
    locations: classpath:db/migration
    baseline-on-migrate: true

esimgo:
  api:
    endpoint: https://api.esim-go.com/v2.4
    key: 2iBA_znWaTXMT5O1Q04n5uSX5i45jC2W-hDNgweR

logging:
  level:
    root: INFO
    com.tiktel.ttelgo: DEBUG

