spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver
  
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  flyway:
    enabled: true
    locations: classpath:db/migration
    baseline-on-migrate: true

esimgo:
  api:
    endpoint: https://api.esim-go.com/v2.4
    key: ${ESIMGO_API_KEY:2iBA_znWaTXMT5O1Q04n5uSX5i45jC2W-hDNgweR}

logging:
  level:
    root: WARN
    com.tiktel.ttelgo: INFO

